CompileFlags:
  Add:
    - -std=c11
    - -Wall
    - -Wextra
    - -I.
    - -Isrc
    - -Ilib/facil
    - -Ilib/facil/cli
    - -Ilib/facil/http
    - -Ilib/facil/fiobj
    - -Isrc/db
    - -Isrc/src
    - -Isrc/struct
  Remove:
    - -fno-ipa-icf
